.jumbotron
  .container
    %h1 About SetPlaylist
    %p SetPlaylist is a simple website that generates and plays a playlist based on the inputted artist's most recent concert setlist.
    %li Data for setlists provided by: setlist.fm
    %li Music streaming provided by: youtube.com
    %li Event lists provided by: Songkick
    %li CSS Framework: Twitter Bootstrap
    %li Built using Ruby on Rails